<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Agit_ChairulHamid</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Agit_ChairulHamid.styles.css" asp-append-version="true" />
    <script src="~/js/site.js"></script>
</head>
<body>
    <header>
       <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Agit - Chairul Hamid</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Task 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Task2">Task 2</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Agit_ChairulHamid - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      
        var check;
        var base_url = window.location.origin;
        function validate_mandatory(id, hf = "none") {
            try {
                $('.req').each(function () {
                    check = $(this).val() == undefined || $(this).val() == "" || $(this).val() == null ? '' : $(this).val();
                    if (!check) {
                        $(this).addClass("req-danger");
                        $(this).next().find('.select2-selection').addClass("req-danger");
                    }
                    else {
                        $(this).removeClass("req-danger");
                        $(this).next().find('.select2-selection').removeClass("req-danger");
                    }
                });
                $('.jsonform-required').each(function () {
                    check = $(this).find(':input').val() == undefined ? '' : $(this).find(':input').val();
                    if (!check) {
                        $(this).find(':input').addClass("req-danger");
                    }
                    else {
                        $(this).find(':input').removeClass("req-danger");
                    }
                });
            } catch (error) {
                console.log(error);
            }

            var error = $('.req-danger').length;
            if (error == 0) {
                if (hf == "none" || $(hf).val().trim()) {
                    $('#' + id).attr("disabled", true);
                    $('#' + id).addClass("disabled");
                    return true;
                } else {
                    alert("Harap diisi semua data!")
                    return false;
                }
            } else {
                alert("Harap diisi semua data!")
                return false;
            }
        }
        function __PostData(datapost, urlpath, urlload) {
            $.ajax({
                url: base_url + urlpath,
                type: 'POST', 
                dataType: 'json', 
                data: JSON.stringify(datapost),
                cache: false,
                contentType: 'application/json', 
            }).done(function (response) {
                if (response.status === 500) {
                    alert(response.message)
                    urlload(response.data);
                } else if (response.status === 200) {
                    alert(response.message);
                    urlload(response.data);
                } else if (response.status === 400) {
                    alert("Mohon periksa kembali data yang anda kirim.");
                    urlload(response.data);
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.error("Request failed: " + textStatus + ", " + errorThrown);
                alert("Terjadi kesalahan saat mengirim data.");
            });
        }
        function ClearButton() {
            $(".btn").attr("disabled", false);
            $('.btn').removeClass("disabled");
             document.querySelectorAll('.req').forEach(function(input) {
                input.value = '';
            });
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
